body {
  font-size: 16px;
  color: #333;
}
.slides section {
  border: 1px solid #333;
  box-shadow: 0 0 5px #333;
}
.slides section:focus {
  outline: none;
}
.add-slide {
  position: absolute;
  background: #fff;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  font-size: 3rem !important;
  line-height: 3rem;
  text-align: center;
  color: #333;
  z-index: 100;
  cursor: pointer;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
.add-slide:hover {
  margin: -0.5rem;
  padding: 0.5rem;
}
.add-slide--right {
  right: 3%;
  top: 46%;
}
.add-slide--bottom {
  bottom: 10%;
  left: 48%;
}
.container {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
.menu-item,
.menu-item--group {
  list-style: none;
  display: inline-block;
  background: rgba(255,255,255,0.1);
  padding: 5px;
  border: 1px solid rgba(0,0,0,0.4);
  height: 1.5rem;
  border-radius: 3px;
}
.menu-item a,
.menu-item--group a {
  color: #f4f4f4;
}
.menu-item button,
.menu-item--group button,
.menu-item input,
.menu-item--group input,
.menu-item select,
.menu-item--group select {
  cursor: pointer;
}
.menu-item--group button {
  border-radius: 0;
}
.menu-item--group button:first-child {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.menu-item--group button:last-child {
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}
.menu-item--group button:not(:first-child) {
  margin-left: -0.2rem;
}
.menu-item--group button:not(:last-child) {
  margin-right: -0.2rem;
}
#topmenu button,
#topmenu input,
#topmenu select {
  display: inline-block;
  font-size: 1rem;
  line-height: 1rem;
  height: 1.5rem;
  border: none;
  border-bottom: 1px solid #222;
  border-right: 1px solid #444;
  background: #858585;
  padding: 3px 9px;
  color: #f4f4f4;
  text-shadow: 0 1px 0 #333;
}
#topmenu input[type=color],
#topmenu input[type=file] {
  padding: 0;
}
.sidemenu {
  position: absolute;
  top: 0;
  left: 0;
  width: 16rem;
  height: 100%;
  background: #333;
  color: #fff;
  padding: 0.5rem;
  text-align: center;
}
.sidemenu p {
  text-align: justify;
}
.sidemenu input,
.sidemenu button {
  display: inline-block;
  margin: 0;
}
.sidemenu input[type=file] {
  width: 10rem;
}
.sidemenu a {
  color: #fff;
}
.sidemenu-item,
.sidemenu-item--small,
.sidemenu-item--action {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 16rem;
  background: #e7e7e7;
  color: #4d4d4d;
  padding: 1rem 0;
  border: 1px solid #222;
  border-radius: 3px;
  font-weight: bold;
  text-align: center;
}
.sidemenu-item:focus,
.sidemenu-item--small:focus,
.sidemenu-item--action:focus {
  outline: none;
}
input.sidemenu-item {
  box-shadow: inset 0 5px 5px #888;
  border: 3px solid #555;
}
.sidemenu-item--action {
  background: #2ecc71;
  color: #fff;
  cursor: pointer;
}
.info-box {
  background: rgba(255,255,255,0.1);
  font-size: 0.9rem;
  padding: 0.2rem;
  line-height: 1.2rem;
  border-radius: 3px;
  width: 15rem;
  margin: 1rem auto 0.2rem auto;
}
hr {
  margin: 1rem 0;
  padding: 0;
  background: #444;
  height: 1px;
  border: 0;
}
.sidemenu-item--small {
  width: 5rem;
  padding: 0.5rem 1rem;
}
.hidden {
  display: none;
}
