var-add-slide-size = 3rem;
var-add-slide-size--large = 3.5rem;
var-sidemenu-width = 16rem;
var-sidemenu-width--half = var-sidemenu-width / 2;

body
  font-size: 16px;
  color: #333;

.slides section
  border: 1px solid #333;
  box-shadow: 0 0 5px #333;
  &:focus
    outline: none;

.add-slide
  position: absolute;
  background: white;
  border-radius: 50%;
  width: var-add-slide-size;
  height: var-add-slide-size;
  font-size: var-add-slide-size !important;
  line-height: var-add-slide-size;
  text-align: center;
  color: #333;
  z-index: 100;
  cursor: pointer;
  -webkit-transition-duration: .2s;
  -moz-transition-duration: .2s;
  transition-duration: .2s;
  &:hover
    margin: -.5rem;
    padding: .5rem;

.add-slide--right
  right: 3%;
  top: 46%;

.add-slide--bottom
  bottom: 10%;
  left: 48%;

.container
  width: 80%;
  margin: 0 auto;
  text-align: center;

.menu-item,
.menu-item--group
  list-style: none;
  display: inline-block;
  background: hsla(100, 100, 100, .1);
  padding: 5px;
  border: 1px solid hsla(0, 0, 0, .4);
  height: 1.5rem;
  line-height 1.5rem;
  border-radius: 3px;
  margin 0 .2rem
  a
    color: #f4f4f4;
  button, input, select
    cursor: pointer;

.menu-item--group
  button
    border-radius: 0;
  button:first-child
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  button:last-child
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
  button:not(:first-child)
    margin-left:-.2rem;
  button:not(:last-child)
    margin-right:-.2rem;

#topmenu
  button,
  input,
  select
    vertical-align: top;
    display: inline-block;
    font-size: 1rem;
    line-height: 1.5rem;
    height: 1.5rem;
    border: none;
    border-bottom: 1px solid #222;
    border-right: 1px solid #444;
    background: #858585;
    color: #f4f4f4;
    text-shadow:0 1px 0 #333;
  input[type=color],
  input[type=file]
    padding: 0;

.topmenu
    height: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    white-space: nowrap;

.sidemenu
  position: absolute;
  top: 0;
  left: 0;
  width: var-sidemenu-width;
  height: 100%;
  background: #333;
  color: white;
  padding: .5rem;
  text-align: center;
  -webkit-transition-duration: .3s;
  -moz-transition-duration: .3s;
  transition-duration: .3s;
  &:hover
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    transform: translateX(0);
  p
    text-align: justify;
  input,
  button
    display: inline-block;
    margin: 0;
  input[type=file]
    width: var-sidemenu-width - 6rem;
  a
    color: white;

.sidemenu--hidden
  -webkit-transform: translateX(-90%);
  -moz-transform: translateX(-90%);
  transform: translateX(-90%);

.sidemenu-item,
.sidemenu-item--small,
.sidemenu-item--action,
.sidemenu-item--secondary,
.sidemenu-item--secondary--half
  -moz-box-sizing: border-box
  -webkit-box-sizing: border-box
  box-sizing: border-box;
  width: var-sidemenu-width;
  background: #e7e7e7;
  color: #4d4d4d;
  padding: 1rem 0;
  border: 1px solid #222;
  border-radius: 3px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  &:focus
    outline: none;

.sidemenu-item--secondary,
.sidemenu-item--secondary--half
  background: #ddd;
  color: #333;

.sidemenu-item--secondary--half
  width: var-sidemenu-width--half
  float: left

input.sidemenu-item
  box-shadow:inset 0 5px 5px #888;
  border: 3px solid #555;

.sidemenu-item--action
  background: #2ecc71;
  color: white;
  cursor: pointer;

.info-box
  background: rgba(255,255,255,.1);
  font-size: .9rem;
  padding: .2rem;
  line-height: 1.2rem;
  border-radius: 3px;
  width: var-sidemenu-width - 1rem;
  margin: 1rem auto .2rem auto;

hr
  margin: 1rem 0
  padding: 0
  background: #444
  height: 1px
  border: 0

.sidemenu-item--small
  width: 5rem;
  padding: .5rem 1rem;

.hidden
  display: none;

.dark-background
  background: #333;

.remote-control
  background: #222;
  background: -moz-linear-gradient(#444,#242629);
  width: 25rem;
  height: 25rem;
  font-size: 5rem;
  border: 3px solid #222;
  border-bottom: 3px solid #222;
  border-right: 3px solid #222;
  box-shadow: 0 0 0 10px rgba(255,255,255,.05), 0 4px 0 #000, 0 6px 0 rgba(255,255,255,.2), inset 0 5px 15px rgba(255,255,255,.2);
  border-radius: 50%;
  display: inline-block;
  margin: .5rem;
  color: #ddd
  text-shadow: 0 5px 0 #000;
  &:active
    background: -moz-linear-gradient(#242629,#444);

.text-centered
  text-align center;

.pull-left
  float left

.pull-right
  float right

.time
  color white
  font-weight bold
  font-size 9.5rem
  margin 1rem 0
  font-family: 'Droid Sans', sans-serif;
  text-align center
  text-shadow 0 5px 0 #000

@media only screen and (max-width: 850px)
  .remote-control
    width 6rem
    height 6rem
    font-size 1.2rem
  .time
    font-size 7rem
