<div class="modal" id="myModal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3>Settings</h3>
    <p>some settings and css rules are saved in the <em>localStorage</em>, <a href="#" id="clear-storage"> click here </a> to clear them</p>
  </div>
<form id="settings" class="form-inline">
  <div class="modal-body">
		<table class="settings table-striped">
			<tr>
				<td> <label>Presentation name</label> </td>
				<td colspan=2> <input class="input-large" id="presentation-title" type="text"> </td>
			</tr>
			<tr>
				<td> <label>Author</label> </td>
				<td colspan=2> <input class="input-large" id="presentation-author" type="text"> </td>
			</tr>
			<tr>
				<td> <label>Presentation description</label> </td>
				<td colspan=2> <input class="input-large" id="presentation-description" type="text"> </td>
			</tr>
			<tr>
				<td><label>Themes</label></td>
				<td colspan=2>
					<select id="select-theme">
						<option value="">none</option>
						<option value="theme-night">night</option>
						<option value="theme-beige">beige</option>
						<option value="theme-neon">neon</option>
					</select>
				</td>
			</tr>
			<tr>
				<td><label for="color1">Background</label></td>
				<td colspan=2><input type="color" id="color1" value="#555A5F">
				<input type="color" id="color2" value="#1C1E20"></td>
			</tr>
			<tr>
				<td><label for="font-size">Font size</label></td>
				<td colspan=2><input type=range min=16 max=48 value=16 step=2></td>
			</tr>
		</table>
	
  </div>
  <div class="modal-footer">
    <button type="button" class="btn" data-dismiss="modal" id="settings-finished" value="Close">Close</button>
  </div>
  </form>
</div>

