extends layout

block header
  .navbar.container
      #message.message.hidden
        p This is a top level view of your presentation
        p: .menu-item: button.js-handler--overview Overview
      ul#topmenu.topmenu
        li.menu-item--group
          button.js-handler--style-button B
          button.js-handler--style-button I
          button.js-handler--style-button U
        li.menu-item
          button.js-handler--code-block
            span.glyphicon.glyphicon-chevron-left
            span.glyphicon.glyphicon-chevron-right
        li.menu-item
          button.js-handler--overview
            span.glyphicon.glyphicon-zoom-out
        li.menu-item--group
          button.js-handler--align(data-align="left")
            span.glyphicon.glyphicon-align-left
          button.js-handler--align(data-align="center")
            span.glyphicon.glyphicon-align-center
          button.js-handler--align(data-align="right")
            span.glyphicon.glyphicon-align-right
        li.menu-item
          select(name="heading-size", class="js-handler--headings")
            option(value="none") Text size
            option(value="100px") 100px
            option(value="80px") 80px
            option(value="60px") 60px
            option(value="40px") 40px
            option(value="20px") 20px
        li.menu-item
          input(type="color", class="js-handler--color")

block sidemenu
  include sidemenu

block content

  .reveal
    .slides
      section(contentEditable)
        h1 Hi!
        p Welcome to kreator.js

    .progress
      span

    .add-slide.add-slide--right.js-handler--add-slide-right.noselect(data-direction="right") +
    .add-slide.add-slide--bottom.js-handler--add-slide-down.noselect(data-direction="bottom") +

block scripts
  script(src="js/head.min.js")
  script(src="js/q.js")
  script(src="js/jszip.js")
  script(src="js/underscore-min.js")
  script(src="js/reveal.min.js")
  script(src="http://cdn.peerjs.com/0.3/peer.js")
  script(src="js/build/main.js")
