extends layout

block sidemenu
  include sidemenu

block content

  .reveal
    .slides
      section(contentEditable)
        h1 Hi!
        p Welcome to kreator.js

    .progress
      span

    .add-slide.add-slide--right.js-handler--add-slide-right.noselect(data-direction="right") +
    .add-slide.add-slide--bottom.js-handler--add-slide-down.noselect(data-direction="bottom") +

block scripts
  script(src="js/head.min.js")
  script(src="js/q.js")
  script(src="js/jszip.js")
  script(src="js/underscore-min.js")
  script(src="./node_modules/reveal.js/js/reveal.min.js")
  script(src="http://www.google.com/jsapi")
  script(src="js/bundle.js")
