doctype html
html(lang="en")
  head
    title Kreator.js
    link(rel="stylesheet", type="text/css", href="css/main.css")
    link(rel="stylesheet", type="text/css", href="css/default.css")
    link(rel="stylesheet", type="text/css", href="css/zenburn.css")
    link(rel="stylesheet", type="text/css", href="css/kreator.css")
  body
    .navbar.container
      ul
        li.menu-item--group
          button.js-handler--style-button B
          button.js-handler--style-button I
          button.js-handler--style-button U
        li.menu-item
          form.js-handler--upload(action="")
            input(type='file', required)
            button Upload
        li.menu-item
          select(name="heading-size", class="js-handler--headings")
            option(value="none") Text size
            option(value="100px") 100px
            option(value="80px") 80px
            option(value="60px") 60px
        li.menu-item
          input(type="color", class="js-handler--color")
        li.menu-item
           select(name="text-alignment", class="js-handler--alignment")
             option(value="none") Alignment
             option(value="left") Left
             option(value="center") Center
             option(value="right") Right

    block content
    block scripts
