doctype html
html(lang="en")
  head
    title Kreator.js
    link(rel="stylesheet", type="text/css", href="css/main.css")
    link(rel="stylesheet", type="text/css", href="css/default.css")
    link(rel="stylesheet", type="text/css", href="css/zenburn.css")
    link(rel="stylesheet", type="text/css", href="css/glyphicons.css")
    link(rel="stylesheet", type="text/css", href="css/kreator.css")
    link(rel="stylesheet", type="text/css", href="css/shepherd-theme-arrows.css")

  body
    block header

    block content
    block sidemenu
    block scripts
