!!! 5
html(lang="en")
	head
		title kreator
		//link(href='http://fonts.googleapis.com/css?family=Open+Sans', rel='stylesheet', type='text/css')
		link(rel="stylesheet", href="css/main.css")
		link(rel="stylesheet", type="text/css", href="css/bootstrap.css")
		link(rel="stylesheet/less", type="text/css", href="css/style.css")
		link(rel="stylesheet", type="text/css", href="css/monokai.css")
		script(src="js/less-1.3.0.min.js")

	body
		header.navbar.navbar-fixed-top.navbar-inverse
			.navbar-inner
				.container
					.btn-toolbar
						.btn-group
							a(class="btn", data-title="turn it bold", data-textstyle="b", href="#")
								i(class="icon-bold")
							a(class="btn", data-title="turn it italic", data-textstyle="i", href="#")
								i(class="icon-italic")
						.controls
							select#select-dimensions
								option(title="remove headings", value="normal") heading
								option(title="Heading 1", value="h1") H1
								option(title="Heading 2", value="h2") H2
								option(title="Heading 3", value="h3") H3
								option(title="Heading 4", value="h4") H4
						.btn-group
							a(class="btn", data-title="make a link", data-textstyle="a", href="#")
								i(class="icon-font")
							a(class="btn", data-title="add a quote", data-textstyle="blockquote", href="#")
								i(class="icon-comment")
							a(class="btn", data-title="make a list", data-textstyle="li", href="#")
								i(class="icon-list")
						.btn-group
							a(id="remove", class="btn", data-title="remove", data-textstyle="remove", href="#")
								i(class="icon-remove")
							a(href="#", class="btn", data-title="move", data-textstyle="move")
								i(class="icon-move")
							a(href='#', class="btn toggle", data-title="draw grid", data-textstyle="grid")
								i(class="icon-th")
							a(href='#', class="btn toggle", data-title="clear grid", data-textstyle="grid-clear")
								i(class="icon-trash")
							a(href="#", class="btn btn-info", data-title="settings", id="settings-btn")
								i(class="icon-cog icon-white")
						.btn-group
							a(href="#", class="btn all-images", data-title="all images", data-textstyle="images")
								i(class="icon-picture")
							a(href="#", class="btn upload-images toggle", data-title="upload images", data-textstyle="upload")
								i(class="icon-upload")
							a(href="#", class="btn toggle", data-title="resize image", data-textstyle="resize")
								i(class=" icon-resize-small")
							a(href="#",class="btn btn-info download", data-title="download", id="download")
								i(class="icon-download icon-white")
						.btn-group.pull-right
							a(class="btn fullscreen", data-title="fullscreen", id="fullscreen", href="#")
								i(class="icon-fullscreen")
						.btn-group.pull-right
							a(class="btn", data-title="align left", data-textstyle="left", href="#")
								i(class="icon-align-left")
							a(class="btn", data-title="align center", data-textstyle="center", href="#")
								i(class="icon-align-center")
							a(class="btn", data-title="align right", data-textstyle="right", href="#")
								i(class="icon-align-right")
		// ul.sidebar
		//	li.btn.btn-warning Remove
		//	li.btn Edit

		.reveal
			.slides
				ul(class="menu hidden")
					li(title="rotate"): i(class="icon-repeat")
					li(title="add class"): i(class="icon-list-alt") 
					li(title="font"): i(class="icon-font")
					li(title="clear"): i(class="icon-remove")
					li.input: input(placeholder="value", id="menu-input")
				section

			aside.controls
				a(class="left", href="#")&#x25C4;
				a(class="right", href="#")&#x25BA;
				a(class="up", href="#")&#x25B2;
				a(class="down", href="#")&#x25BC;

			.showreel
				figure: img(src="img/layout.png")
			.progress
				span

		script(src="js/highlight.pack.js")
		script(src="js/reveal.min.js")

		script
			// Parse the query string into a key/value object
			var query = {};
			location.search.replace( /[A-Z0-9]+?=(\w*)/gi, function(a) {
				query[ a.split( '=' ).shift() ] = a.split( '=' ).pop();
			} );

			Reveal.initialize({
				controls: true,
				progress: true,
				keyboard: false
			});
		script(data-main="js/main", src="js/require.js")
		//script(src="https://www.google.com/jsapi")
		script
			//google.load("webfont", "1");