doctype html
html(lang="en")
	head
		title Kreator.js
		link(rel="stylesheet", href="css/main.css")
		link(rel="stylesheet", type="text/css", href="stylesheets/kreator.css")
		link(rel="stylesheet", type="text/css", href="css/bootstrap.css")
		link(rel="stylesheet", type="text/css", href="css/default.css")
		link(rel="stylesheet", type="text/css", href="css/zenburn.css")
	body
		block content
		block scripts