doctype html
html(lang="en")
	head
		title kreator
		link(href='http://fonts.googleapis.com/css?family=Open+Sans', rel='stylesheet', type='text/css')
		link(rel="stylesheet", href="css/main.css")
		link(rel="stylesheet", type="text/css", href="css/bootstrap.css")
		link(rel="stylesheet", type="text/css", href="css/style.css")
		link(rel="stylesheet", type="text/css", href="css/monokai.css")
	body
		block content