.sidemenu
  input.sidemenu-item.js-handler--presentation-name(type='text', placeholder='Presentation name')
  hr
  button.sidemenu-item--action.js-handler--download Download presentation
  a.js-handler--download-ready
  hr
  p.info-box Upload a reveal.js presentation in the editor. Select the index.html of your presentation
  form.js-handler--upload(action="")
    input(type='file', required)
    button.sidemenu-item--small Upload
