.sidemenu
  input.sidemenu-item.js-handler--presentation-name(type='text', placeholder='Presentation name')
  hr
  button.sidemenu-item--action.js-handler--download
    img(src='/img/download.svg')
    | Download presentation
  a.js-handler--download-ready
  hr
  select.sidemenu-item.js-handler--theme-selector(name="theme-selector")
    option(value="default.css") Theme: Default
    option(value="night.css") Theme: Night
    option(value="beige.css") Theme: Beige
    option(value="sky.css") Theme: Sky
  hr
  p.info-box Upload a reveal.js presentation in the editor. Select the index.html of your presentation
  form.js-handler--upload(action="")
    input(type='file', required)
    button.sidemenu-item--small Upload
  hr
  p.info-box You can use a mobile phone as a remote to change the slides. <a href="http://piatra.github.io/kreator.js/output/remote.html" target="_blank"> Use this url </a> to get the code needed, it is also the page you want to load on your phone or other mobile device.
  button.sidemenu-item--secondary.js-handler--init-remote Use device as remote
  hr
  button.sidemenu-item--secondary--half.js-handler--hide-sidemenu Hide sidemenu
  button.sidemenu-item--secondary--half.js-handler--restart-tour Show tour
