#topmenu.toolbar.visually-hidden
  .sc-format-group
    span.sc-format-button.sc-bold(title='Make text bold')
    span.sc-format-button.sc-italic(title='Make text italic')
    span.sc-format-button.sc-underline(title='Underline text')

  span.sc-format-separator

  select.sc-align(title="Text Alignment")
    option(value="left", label="Left" selected="")
    option(value="center", label="Center")
    option(value="right", label="Right")
    option(value="justify", label="Justify")

  span.sc-format-separator

  select.sc-size
    option(value=".8rem") Small
    option(value="2rem", selected) Normal
    option(value="4rem") Large
    option(value="5rem") Huge

  span.sc-format-separator

  span.sc-format-group
    select.sc-color(title="Text Color")
      option(value="rgb(0, 0, 0)" label="rgb(0, 0, 0)" selected="")
      option(value="rgb(230, 0, 0)" label="rgb(230, 0, 0)")
      option(value="rgb(255, 153, 0)" label="rgb(255, 153, 0)")
      option(value="rgb(255, 255, 0)" label="rgb(255, 255, 0)")
      option(value="rgb(0, 138, 0)" label="rgb(0, 138, 0)")
      option(value="rgb(0, 102, 204)" label="rgb(0, 102, 204)")
      option(value="rgb(153, 51, 255)" label="rgb(153, 51, 255)")
      option(value="rgb(255, 255, 255)" label="rgb(255, 255, 255)")
      option(value="rgb(250, 204, 204)" label="rgb(250, 204, 204)")
      option(value="rgb(255, 235, 204)" label="rgb(255, 235, 204)")
      option(value="rgb(255, 255, 204)" label="rgb(255, 255, 204)")
      option(value="rgb(204, 232, 204)" label="rgb(204, 232, 204)")
      option(value="rgb(204, 224, 245)" label="rgb(204, 224, 245)")
      option(value="rgb(235, 214, 255)" label="rgb(235, 214, 255)")
      option(value="rgb(187, 187, 187)" label="rgb(187, 187, 187)")
      option(value="rgb(240, 102, 102)" label="rgb(240, 102, 102)")
      option(value="rgb(255, 194, 102)" label="rgb(255, 194, 102)")
      option(value="rgb(255, 255, 102)" label="rgb(255, 255, 102)")
      option(value="rgb(102, 185, 102)" label="rgb(102, 185, 102)")
      option(value="rgb(102, 163, 224)" label="rgb(102, 163, 224)")
      option(value="rgb(194, 133, 255)" label="rgb(194, 133, 255)")
      option(value="rgb(136, 136, 136)" label="rgb(136, 136, 136)")
      option(value="rgb(161, 0, 0)" label="rgb(161, 0, 0)")
      option(value="rgb(178, 107, 0)" label="rgb(178, 107, 0)")
      option(value="rgb(178, 178, 0)" label="rgb(178, 178, 0)")
      option(value="rgb(0, 97, 0)" label="rgb(0, 97, 0)")
      option(value="rgb(0, 71, 178)" label="rgb(0, 71, 178)")
      option(value="rgb(107, 36, 178)" label="rgb(107, 36, 178)")
      option(value="rgb(68, 68, 68)" label="rgb(68, 68, 68)")
      option(value="rgb(92, 0, 0)" label="rgb(92, 0, 0)")
      option(value="rgb(102, 61, 0)" label="rgb(102, 61, 0)")
      option(value="rgb(102, 102, 0)" label="rgb(102, 102, 0)")
      option(value="rgb(0, 55, 0)" label="rgb(0, 55, 0)")
      option(value="rgb(0, 41, 102)" label="rgb(0, 41, 102)")
      option(value="rgb(61, 20, 102)" label="rgb(61, 20, 102)")
    span.sc-format-button.sc-list(title='Ordered list')
    span.sc-format-button.sc-bullet(title='Unordered list')


  span.sc-format-separator

  span.sc-format-button.js-handler--overview(title='Presentation overview')
    span.glyphicon.glyphicon-zoom-out
