var-add-slide-size = 3rem;
var-add-slide-size--large = 3.5rem;
var-sidemenu-width = 16rem;

body
  font-size: 16px;
  color: #333;

.slides section
  border: 1px solid #333;
  box-shadow: 0 0 5px #333;
  &:focus
    outline: none;

.add-slide
  position: absolute;
  background: white;
  border-radius: 50%;
  width: var-add-slide-size;
  height: var-add-slide-size;
  font-size: var-add-slide-size !important;
  line-height: var-add-slide-size;
  text-align: center;
  color: #333;
  z-index: 100;
  cursor: pointer;
  -webkit-transition-duration: .2s;
  -moz-transition-duration: .2s;
  transition-duration: .2s;
  &:hover
    margin: -.5rem;
    padding: .5rem;

.add-slide--right
  right: 3%;
  top: 46%;

.add-slide--bottom
  bottom: 10%;
  left: 48%;

.container
  width: 80%;
  margin: 0 auto;
  text-align: center;

.menu-item,
.menu-item--group
  list-style: none;
  display: inline-block;
  background: hsla(100, 100, 100, .1);
  padding: 5px;
  border: 1px solid hsla(0, 0, 0, .4);
  height: 1.5rem;
  border-radius: 3px;
  a
    color: #f4f4f4;
  button, input, select
    cursor: pointer;

#topmenu
  button,
  input,
  select
    display: inline-block;
    margin: 0;
    padding: 0;
    font-size: 1rem;
    line-height: 1rem;
    height: 1.5rem;
    border: none;
    border-bottom: 1px solid #222;
    border-right: 1px solid #444;
    background: #858585;
    padding:3px 9px;
    color: #f4f4f4;
    text-shadow:0 1px 0 #333;
    border-radius: 3px;
  input[type=color],
  input[type=file]
    padding: 0;

.sidemenu
  position: absolute;
  top: 0;
  left: 0;
  width: var-sidemenu-width;
  height: 100%;
  background: #333;
  color: white;
  padding: .5rem;
  text-align: center;

.sidemenu-input
  background: #e7e7e7;
  color: #4d4d4d;
  width: var-sidemenu-width - 2rem;
  padding: 1rem;
  border: 1px solid #222;
  border-radius: 3px;
  &:focus
    outline: none;

.hidden
  display: none;
