.add-slide
  position: absolute;
  background: white;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  text-align: center;
  line-height: 2rem;
  color: #333;
  z-index: 100;
  cursor: pointer;

.add-slide--right
  right: 0;
  top: 50%;

.add-slide--bottom
  bottom: 80px;
  left: 50%;

.container
  width: 80%;
  margin: 0 auto;

.menu-item,
.menu-item--group
  list-style: none;
  display: inline-block;
  background: hsla(100, 100, 100, .1);
  padding: .3rem;
  border: 1px solid hsla(0, 0, 0, .4);
  height: 1.8rem;
  border-radius: 3px;
  a
    color: #f4f4f4;

