.slides section {
  border: 1px solid #333;
  box-shadow: 0 0 5px #333;
}
.slides section:focus {
  outline: none;
}
.add-slide {
  position: absolute;
  background: #fff;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  font-size: 3rem !important;
  line-height: 3rem;
  text-align: center;
  color: #333;
  z-index: 100;
  cursor: pointer;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
.add-slide:hover {
  margin: -0.5rem;
  padding: 0.5rem;
}
.add-slide--right {
  right: 3%;
  top: 46%;
}
.add-slide--bottom {
  bottom: 10%;
  left: 48%;
}
.container {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
.menu-item,
.menu-item--group {
  list-style: none;
  display: inline-block;
  background: rgba(255,255,255,0.1);
  padding: 5px;
  border: 1px solid rgba(0,0,0,0.4);
  height: 1.5rem;
  border-radius: 3px;
}
.menu-item a,
.menu-item--group a {
  color: #f4f4f4;
}
.menu-item button,
.menu-item--group button,
.menu-item input,
.menu-item--group input,
.menu-item select,
.menu-item--group select {
  cursor: pointer;
}
button,
input,
select {
  display: inline-block;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  line-height: 1rem;
  height: 1.5rem;
  border: none;
  border-bottom: 1px solid #222;
  border-right: 1px solid #444;
  background: #858585;
  padding: 3px 9px;
  color: #f4f4f4;
  text-shadow: 0 1px 0 #333;
  border-radius: 3px;
}
input[type=color],
input[type=file] {
  padding: 0;
}
.hidden {
  display: none;
}
