.add-slide {
  position: absolute;
  background: #fff;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  text-align: center;
  line-height: 2rem;
  color: #333;
  z-index: 100;
  cursor: pointer;
}
.add-slide--right {
  right: 0;
  top: 50%;
}
.add-slide--bottom {
  bottom: 80px;
  left: 50%;
}
.container {
  width: 80%;
  margin: 0 auto;
}
.menu-item {
  list-style: none;
  display: inline-block;
  background: rgba(255,255,255,0.1);
  padding: 0.3rem;
  border: 1px solid rgba(0,0,0,0.4);
  height: 1.8rem;
  border-radius: 3px;
}
.menu-item a {
  color: #f4f4f4;
}
